
<nav class="navbar bg-dark border-bottom border-bottom-dark justify-content-center" data-bs-theme="dark">
    <!-- On veut que la barre soit noire et les liens soient centrés -->
    <ul class="nav ">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['homeTache']" >Acceuil Tache</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['addTache']" >Ajouter Tache</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['updateTache']" >Modifier Tache</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['deleteTache']" >Supprimer Tache</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['findTache']" >Rechercher Tache</a>
          </li>

      </ul>
  </nav>

  
  <nav class="navbar bg-dark border-bottom border-bottom-dark justify-content-center" data-bs-theme="dark">
    <!-- On veut que la barre soit noire et les liens soient centrés -->
    <ul class="nav ">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['homeUtilisateur']" >Acceuil Utilisateur</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['addUtilisateur']" >Ajouter Utilisateur</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['updateUtilisateur']" >Modifier Utilisateur</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['deleteUtilisateur']" >Supprimer Utilisateur</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['findUtilisateur']" >Rechercher Utilisateur</a>
          </li>

      </ul>
  </nav>
